<section id="" class="lgFuncRight  m-auto " style="width: 150px;">


    <a href="/Home/Index" class="  btn-block btn-group m-0 border-0   " style="text-decoration: none; ">
        <span class="btn  btn-block  text-left   sectiona" style="border-radius: 5px 5px 0px 0px;">首頁</span>
    </a>
    <div href="" class="btn-block btn-group m-0 border-0 sectiona  " style="text-decoration: none;">
        <a href="/Fly/Index" class="btn border-0  btn-block text-left text-white">飛失</a>
        <button class=" bigfont px-3 border-0  " data-toggle="collapse" data-target="#flysectionside">+</button>
    </div>
    <div id="flysectionside" class="collapse ">
        <a href="/Fly/Create" class="  btn-block btn-group text-dark " style="text-decoration: none;background: rgba(5, 42, 31, 0.3);">
            <span class=" btn btn-block text-left " style="font-size: 15px; ">新增</span>
        </a>
        <a href="/Fly/Edit" class=" btn-block btn-group m-0 text-dark " style=" text-decoration: none;background: rgba(5, 42, 31, 0.3); ">
            <span class=" btn btn-block text-left " style=" font-size: 15px;">修改</span>
        </a>
    </div>
    <div href="" class="btn-block btn-group  sectiona  " style="text-decoration: none;">
        <a href="/Catch/Index" class="btn border-0  btn-block text-left text-white">拾獲</a>
        <button class=" bigfont px-3 border-0  " data-toggle="collapse" data-target="#catchsectionside">+</button>
    </div>
    <div id="catchsectionside" class="collapse">
        <a href="/Catch/Create" class="  btn-block btn-group text-dark " style="text-decoration: none;background: rgba(5, 42, 31, 0.3);">
            <span class=" btn btn-block text-left " style="font-size: 15px; ">新增</span>
        </a>
        <a href="/Catch/Edit" class=" btn-block btn-group m-0 text-dark " style=" text-decoration: none;background: rgba(5, 42, 31, 0.3); ">
            <span class=" btn btn-block text-left " style=" font-size: 15px;">修改</span>
        </a>
    </div>
    <div href="" class="btn-block btn-group  sectiona  " style="text-decoration: none;">
        <a href="/See/Index" class="btn border-0  btn-block text-left text-white">目擊</a>
        <button class=" bigfont px-3 border-0  " data-toggle="collapse" data-target="#seesectionside">+</button>
    </div>
    <div id="seesectionside" class="collapse">
        <a href="/See/Create" class="  btn-block btn-group text-dark " style="text-decoration: none;background: rgba(5, 42, 31, 0.3);">
            <span class=" btn btn-block text-left " style="font-size: 15px; ">新增</span>
        </a>


    </div>
    <a href="" class="  btn-block btn-group    " style="text-decoration: none;">
        <span class="btn  btn-block  text-left sectiona" style="border-radius:  0px 0px 5px 5px;" >送養</span>
    </a>


</section>
