
@if (ViewBag.locafail == "Home")
{
    <div class=" pt-5 ml-3 lgFuncRight">
        <a href="#" class=" text-center" title="新增" data-toggle="tooltip" data-placement="left">
            <div class=" ">
                <i class="far fa-plus-square"></i>
            </div>
        </a>
        <a href="#" class=" text-center " title="修改" data-toggle="tooltip" data-placement="left">
            <div class=" "> <i class="far fa-edit"></i></div>
        </a>
        <a href="" class=" text-center " title="搜尋" data-toggle="tooltip" data-placement="left">
            <div class=""><i class="fas fa-search"></i></div>
        </a>
        <a href="/@ViewBag.locafail/picIndex" class=" text-center " title="圖片檢視" data-toggle="tooltip" data-placement="left">
            <div class=""><i class="fas fa-th-large"></i></div>
        </a>
        <a href="/@ViewBag.locafail/Index" class=" text-center " title="清單檢視" data-toggle="tooltip" data-placement="left">
            <div class=" "><i class="fas fa-list-ul"></i></div>
        </a>
        <a href="/@ViewBag.locafail/mapIndex" class=" text-center " title="地圖檢視" data-toggle="tooltip" data-placement="left">
            <div class=""><i class="fas fa-map-marked-alt"></i></div>
        </a>
    </div>
}
else
{



<div class=" pt-5 ml-3 lgFuncRight">
    <a href="/@ViewBag.locafail/Create" class=" text-center" title="新增" data-toggle="tooltip" data-placement="left">
        <div class=" ">
            <i class="far fa-plus-square"></i>
        </div>
    </a>
    <a href="/@ViewBag.locafail/Edit" class=" text-center " title="修改" data-toggle="tooltip" data-placement="left">
        <div class=" "> <i class="far fa-edit"></i></div>
    </a>
    <a href="" class=" text-center " title="搜尋" data-toggle="tooltip" data-placement="left">
        <div class=""><i class="fas fa-search"></i></div>
    </a>
    <a href="/@ViewBag.locafail/picIndex" class=" text-center " title="圖片檢視" data-toggle="tooltip" data-placement="left">
        <div class=""><i class="fas fa-th-large"></i></div>
    </a>
    <a href="/@ViewBag.locafail/Index" class=" text-center " title="清單檢視" data-toggle="tooltip" data-placement="left">
        <div class=" "><i class="fas fa-list-ul"></i></div>
    </a>
    <a href="/@ViewBag.locafail/mapIndex" class=" text-center " title="地圖檢視" data-toggle="tooltip" data-placement="left">
        <div class=""><i class="fas fa-map-marked-alt"></i></div>
    </a>
</div>
}