<div class="container-fluid">
    <footer class="row  text-white  small d-flex justify-content-center align-items-center">

        <img src="~/images/LOGO-4white-nofont.svg" alt="" class="icon d-none  d-md-block ">

        <div class="col-3 text-right">
            <ul class="list-unstyled">
                <a href="" class="text-white ">
                    <li class="my-2"> 網站地圖</l>
                </a>
                <a href="" class="text-white ">
                    <li class="my-2"> 使用方法</li>
                </a>
                <a href="" class="text-white ">
                    <li class="mt-2">感謝幫助</li>
                </a>
            </ul>
        </div>
        <div class="col-3 text-center">
            <ul class="list-unstyled">
                <a href="/Fly/Index" class="text-white">
                    <li class="my-2">飛失列表</li>
                </a>
                <a href="/Catch/Index" class="text-white">
                    <li class="my-2">拾獲列表</li>
                </a>
                <a href="/See/Index" class="text-white">
                    <li class="my-2">目擊列表</li>
                </a>
            </ul>
        </div>
        <div class="col-3 text-left ">
            <ul class="list-unstyled">
                <a href="" class="text-white">
                    <li class="my-2">網站介紹</li>
                </a>
                <a href="" class="text-white">
                    <li class="my-2">作者介紹</li>
                </a>
                <a href="" class="text-white">
                    <li class="my-2">聯絡我們</li>
                </a>
            </ul>
        </div>

        <div class="col-12 text-white text-center">
            <span>&copy;@DateTime.Now.Year - HoMe .Find Way</span>
            <span>@DateTime.Now.ToShortTimeString().ToString()</span>
        </div>
    </footer>
</div>
