 <!-- 頭 -->
@using Securitys;


@if (ViewBag.locafail == "Fly")
{
    <style>
        @@media screen and (max-width:1023px){
        .mainfunchead {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 27% 100%, 25% 88%, 23% 100%, 0 100%);
                    }}
    </style>
}
else if (ViewBag.locafail == "Catch")
{
    <style>
        @@media screen and (max-width:1023px) {
            .mainfunchead {
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 52% 100%, 50% 88%, 48% 100%, 0 100%);
            }
        }
    </style>

}
else if (ViewBag.locafail == "Catch")
{
    <style>
        @@media screen and (max-width:1023px) {
            .mainfunchead {
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 77% 100%, 75% 88%, 73% 100%, 0 100%);
            }
        }
    </style>}

@if (UserAccount.IsLogin)
{
    <header class="row nav d-flex align-items-center justify-content-between mainfunchead " id="mainhead"
            style="height: 55px;">
        <div class="col-lg-3  text-center d-none d-lg-block ">
            <a href="/Home/Index" style="text-decoration:none">
                <h1 class="h3 text-white mt-2  bigfont " style="line-height: 20px;white-space: nowrap;">
                    HoMe .Find
                    Way<br> <span class="text-white" style="font-size: 16px; font-family: cwtexyen;">鸚 鵡 回 家</span>
                </h1>
            </a>
        </div>

        <div class=" HanbergerDiv HanbergerDivRow btn  d-lg-none opennav">
            <div class="hanberger X1  mt-1"></div>
            <div class="hanberger X2  mt-1"></div>
            <div class="hanberger X3  mt-1 mb-1"></div>
        </div>


        <div class=" btn-group d-lg-none  d-flex align-items-center">
            <a href="/Fly/Index" class="btn row_btn text-white">飛失</a>
            <a href="/See/Index" class="btn row_btn text-white">目擊</a>
            <a href="/Catch/Index" class="btn row_btn text-white">拾獲</a>
        </div>


        <div class="btn-group col-lg-1 d-flex justify-content-center align-items-start "
             style="height: 40px;width:40px;">

            <button type="button" class="btn  pull-right bg-transparent " data-toggle="dropdown"
                    style="height: 40px;width:40px;background-image:url('/images/LOGO-4white-nofont.svg');background-repeat: no-repeat;background-position: center ;background-size:cover;"></button>
            <!-- 會員下拉 -->
            <div class="dropdown-menu dropdown-menu-right"
                 style="clip-path: polygon(0 100%, 100% 100%, 100% 7%, 93% 7%, 89% 1%, 85% 7%, 0 7%);">
                <a class="dropdown-item mt-3 py-2" href="#">訊息</a>
                <a class="dropdown-item py-2" href="#">我的張貼</a>
                <a class="dropdown-item  py-2" href="#">寵物鳥管理</a>
                <a class="dropdown-item  py-2 mb-0" href="#">帳號管理</a>
                <hr class="m-1">
                <a class="dropdown-item py-2" href="/user/Logout">登出</a>
            </div>

        </div>
    </header>
}
else
{
    <header class="row nav d-flex align-items-end justify-content-between mainfunchead " id="mainhead"
            style="height: 55px;">
        <div class="col-lg-3  text-center d-none d-lg-block ">
            <a href="/Home/Index" style="text-decoration:none">
                <h1 class="h3 text-white mt-2  bigfont " style="line-height: 20px;white-space: nowrap;">
                    HoMe .Find
                    Way<br> <span class="text-white" style="font-size: 16px; font-family: cwtexyen;">鸚 鵡 回 家</span>
                </h1>
            </a>
        </div>

        <div class=" HanbergerDiv HanbergerDivRow btn  d-lg-none opennav">
            <div class="hanberger X1  mt-1"></div>
            <div class="hanberger X2  mt-1"></div>
            <div class="hanberger X3  mt-1 mb-1"></div>
        </div>


        <div class="  btn-group d-lg-none mb-1">
            <a href="/Fly/Index" class="btn row_btn text-white">飛失</a>
            <a href="/See/Index" class="btn row_btn text-white">目擊</a>
            <a href="/Catch/Index" class="btn row_btn text-white">拾獲</a>
        </div>


        <div class="loginicon d-lg-none d-flex justify-content-center align-items-center ">
            <span class="far fa-user d-lg-none btn " data-toggle="modal" data-target="#poplogin"></span>
        </div>

        <div class="col-lg-1 justify-content-center d-flex align-items-center d-none ">
            <span class="text-warning d-none d-lg-block mb-3 btn bigfont  " data-toggle="modal"
                  data-target="#poplogin">
                log
                in
            </span>
        </div>
    </header>
}
<!-- /頭 -->
