<div class="modal fade " id="poplogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog ">
        <!-- .modal-content -->
        <div class="modal-content ">
            <div class="modal-body ">
                <div class="container m-auto">
                    <div class="row mb-3">
                        <div class="col text-right close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </div>
                    </div>
                    <ul class="nav nav-tabs px-2" id="myTab" role="tablist">
                        <li class="nav-item w-50 ">
                            <a class="nav-link active text-nowrap" id="loginnav" data-toggle="tab" href="#login"
                               role="tab" aria-controls="home" aria-selected="true">登入</a>
                        </li>
                        <li class="nav-item w-50 ">
                            <a class="nav-link text-nowrap" id="registernav" data-toggle="tab" href="#register"
                               role="tab" aria-controls="profile" aria-selected="false">註冊</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="login" class=" tab-pane fade show active" role="tabpanel">
                            @Html.Partial("~/Views/user/Login.cshtml")

                            <div class="text-center mt-3">快速註冊</div>
                            <div class=" m-2 d-flex justify-content-around">
                                <button class="fab fa-facebook-f  btn rounded-circle text-info border-info bg-transparent"
                                        style="width: 55px;height: 55px;font-size: 25px;"></button>
                                <button class="fab fa-google  btn rounded-circle text-danger border-danger bg-transparent"
                                        style="width: 55px;height: 55px;font-size: 25px;"></button>
                                <button class="fab fa-line  btn rounded-circle text-success border-success bg-transparent"
                                        style="width: 55px;height: 55px;font-size: 25px;"></button>
                            </div>
                        </div>
                        <div id="register" class=" tab-pane fade" role="tabpanel">

                            @Html.Partial("~/Views/user/_Register.cshtml")

                            <div class="text-center mt-3">快速登入</div>
                            <div class=" m-2 d-flex justify-content-around">
                                <button class="fab fa-facebook  btn rounded-circle text-info border-info bg-transparent"
                                        style="width: 55px;height: 55px;font-size: 25px;"></button>
                                <button class="fab fa-google  btn rounded-circle text-danger border-danger bg-transparent"
                                        style="width: 55px;height: 55px;font-size: 25px;"></button>
                                <button class="fab fa-line  btn rounded-circle text-success border-success bg-transparent"
                                        style="width: 55px;height: 55px;font-size: 25px;"></button>

                            </div>
                        </div>

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
