@{
    ViewBag.Title = "Home Page";
    ViewBag.locafail= "Home";

ViewBag.locaAction= "Index";
}

<div class="flybox   ">
    <div class="information " style="border-radius: 5px;  display: inline-block;
    overflow: hidden;" data-toggle="modal" data-target="#popinfo">
        <img src="/images/back/back1.jpg" alt="" class="img-fluid">
    </div>
    <!-- 圖片內容 -->
    <div class="infotext  text-white  ">
        <span class="infotitle bigfont">
            和尚
        </span><span class=" badge badge-pill badge-primary  mt-1 ">今天</span>
        <p class="infobody  pl-2  bigfont ">
            <span class="small infotime  bigfont">
                2019-04-14
                <span class=" infoarea ">19:30</span>
            </span><br>新竹市北區
        </p>
        <p class="pl-2 small">飛失地址：<span>文化路一段122巷50-1號2樓之4</span></p>
        <P class="pl-2 small">腳環號：<span>RB15529Y</span>、<span>RB15529Y</span></P>
    </div>

</div>

<!-- 跳現框 -->
<div class="modal fade " id="popinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-12 col-lg-6  ">
                        <img src="/images/back/back (5).jpg" alt="" class="img-thumbnail">
                    </div>
                    <div class="col-12 col-lg-6  my-2">
                        <p>品種：<span>玄鳳鸚鵡（</span><span>派特</span><span>珍珠</span>）</p>
                        <p>飛失時間：<span>2019-07-11</span>　<span>19:30</span></p>
                        <p>
                            飛失地點：<span>台北市大安區</span><span>文化路一段122巷50-1號2樓之4</span><span>從家裡陽台往某某路飛去</span>
                        </p>
                        <P>特徵：<span>頭毛少一搓</span></P>
                        <P>腳環號碼：<span>RB15529Y</span>、<span>RB15529Y</span></P>
                        <p>聯絡人：<span>陳小小</span></p>
                        <p>聯絡電話：<span>0919555093</span></p>


                    </div>
                    <div class="col-12">
                        <p>其他聯絡方式：<span>LINE</span></p>
                    </div>
                    <div class="col-12   bg-info border-danger border pt-2 mb-3">
                        <p>
                            備註：<br>
                            <span>學生電子商務郵箱一時連續原料訊息工廠人們擁有處罰著名解放辛苦，實業別的收到結合，整個趕緊湖口很少出現人數功能，那個語言廠商使得，關心真實性降低日韓，來源操作系統基層透明未知明星屬性每頁鄉民們近年來獎勵儀器國際，分別告知此次便利商店快捷登陸人類因為頓時忽然。</span>
                        </p>
                    </div>

                    <iframe width='100%' height='500' frameborder='0' scrolling='no' marginheight="0" marginwidth="0" src=http://maps.google.com.tw/maps?f =q&hl =zh-TW&geocode =&q =24.811522,120.968176&z =16&output =embed&t =>
                    </iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<div class="flybox ">
    <div class="information text-white  " style="border-radius: 5px; background-image: url('/images/back/back (5).jpg');">
    </div>
</div>
<div class="flybox ">
    <div class="information text-white  " style="border-radius: 5px;  background-image: url('/images/back/back (6).jpg')">
    </div>
</div>
<div class="flybox ">
    <div class="information text-white  " style="border-radius: 5px;  background-image: url('/images/back/back (7).jpg')">
    </div>
</div>
<div class="flybox ">
    <div class="information text-white " style="border-radius: 5px;   background-image: url('/images/back/back (3).jpg')">
    </div>
</div>
<div class="flybox ">
    <div class="information text-white  " style="border-radius: 5px; "></div>
</div>
<div class="flybox ">
    <div class="information text-white  " style="border-radius: 5px; "></div>
</div>
<div class="flybox ">
    <div class="information text-white  " style="border-radius: 5px; "></div>
</div>
<div class="flybox ">
    <div class="information text-white  " style="border-radius: 5px; "></div>
</div>
